$font-dinpro: 'DinPro', 'sans-serif';

$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #5698C4;
$color-share-background: #EAEEF1;
$color-share: #5698C4;
$color-invite: #F6E4E2;
$color-prize: #5697C3;

$border-color: #E9E9E9;

$gradient-point-button: linear-gradient(90deg, #E59219 0%, #F5D854 100%);
$gradient-list-item-1: linear-gradient(270deg, #F6A997 0%, #CB5433 100%);
$gradient-list-item-2: linear-gradient(270deg, #F5D854 3.33%, #E97800 100%);
$gradient-list-item-3: linear-gradient(90deg, #6BA860 0%, #80C5A1 100%);
$gradient-list-item-4: linear-gradient(90deg, #5698C4 0%, #AAD2BF 98.78%);
$gradient-list-item-5: linear-gradient(90deg, #475C6E 0.7%, #B6D1E8 96.67%);
$gradient-menu: linear-gradient(270deg, #C9B0B9 0%, #95B7D8 100%);

$medium: 600;
$bold: 800;