<script>
import ApplicationItem from "../components/ApplicationItem.vue";
export default {
  name: "Applications",
  components: {
    ApplicationItem
  }
};
</script>
<template>
  <div class="applications">
    <div class="applications__applications-block applications-block">
      <VText size="mid" class="applications-block__title">Больше баллов и призов — в приложении!</VText>
      <ApplicationItem class="applications-block__application-item" />
    </div>
  </div>
</template>
<style lang="scss">
.applications {
  position: relative;
  padding: em(11px) em(20px) em(15px) em(20px);
  border-bottom: 1px solid $border-color;
}
.applications-block {
  &__title {
    line-height: (21 / 14);
  }
  &__application-item {
    margin-top: em(11px);
    display: flex;
    justify-content: space-between;
  }
}
</style>