<script>
export default {
  name: "ApplicationItem"
};
</script>
<template>
  <div class="application-item">
    <div class="application-item__google-play"></div>
    <div class="application-item__app-store"></div>
  </div>
</template>
<style lang="scss">
.application-item {
  &__google-play {
    background-image: url("~static/images/google-play.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: em(120px);
    height: em(33px);
  }
  &__app-store {
    background-image: url("~static/images/app-store.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: em(124px);
    height: em(37px);
  }
}
</style>