<script>
export default {
  name: "CategoryListItem",
  props: {
    category: {
      type: String,
      require: true
    }
  }
};
</script>
<template>
  <div class="category-list-item">
    <div class="category-list-item__text">{{ category }}</div>
  </div>
</template>
<style lang="scss">
.category-list-item {
  position: relative;
  margin-top: em(2px);
  width: em(280px);
  height: em(44px);
  border-radius: em(22px);
  color: $color-white;
  font-weight: $medium;
  &__text {
    position: absolute;
    left: em(20px);
    top: em(12px);
  }
  &:after {
    content: "";
    background-image: url("~assets/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: em(20px);
    height: em(20px);
    top: em(12px);
    right: em(20px);
  }
}
</style>