<script>
import CategoryListItem from "../components/CategoryListItem.vue";
export default {
  name: "Category",
  components: {
    CategoryListItem
  }
};
</script>
<template>
  <div class="category">
    <div class="category__title">Выбери категорию, чтобы перейти к заданиям</div>
    <div class="category__list list">
      <CategoryListItem category="НА СТИЛЕ" class="list__category-list-item_1" />
      <CategoryListItem category="ЖИТЬ АКТИВНЕЕ" class="list__category-list-item_2" />
      <CategoryListItem category="ПРОСТО И КРАСИВО" class="list__category-list-item_3" />
      <CategoryListItem category="ХЮГГЕ" class="list__category-list-item_4" />
      <CategoryListItem category="ВРЕМЯ – ДЕТЯМ" class="list__category-list-item_5" />
    </div>
  </div>
</template>
<style lang="scss">
.category {
  position: relative;
  padding: em(0px) em(20px);
  &__title {
    width: em(261px);
    font-weight: $medium;
    line-height: (22 / 16);
    margin-bottom: em(25px);
  }
}
.list {
  &__category-list-item {
    &_1 {
      background-image: $gradient-list-item-1;
    }
    &_2 {
      background-image: $gradient-list-item-2;
    }
    &_3 {
      background-image: $gradient-list-item-3;
    }
    &_4 {
      background-image: $gradient-list-item-4;
    }
    &_5 {
      background-image: $gradient-list-item-5;
    }
  }
}
</style>