<script>
export default {
  name: "Footer"
};
</script>
<template>
  <div class="footer">
    <VText size="small" class="footer__footer-block">&copy; 2010–2017 «ИКЕА Сентерс Рус Менеджмент»</VText>
  </div>
</template>
<style lang="scss">
.footer {
  position: relative;
  padding: em(20px);
  &__footer-block {
    font-weight: $medium;
    line-height: (15 / 12);
  }
}
</style>