<script>
import HeaderBurger from "../components/HeaderBurger.vue";
import HeaderIcon from "../components/HeaderIcon.vue";
import HeaderAvatar from "../components/HeaderAvatar.vue";
export default {
  name: "Header",
  components: {
    HeaderBurger,
    HeaderIcon,
    HeaderAvatar
  }
};
</script>
<template>
  <div class="header">
    <HeaderBurger class="header__header-burger" />
    <div class="header__title-and-icon title-and-icon">
      <HeaderIcon class="title-and-icon__header-icon" />
      <PointsCounter points="100" class="title-and-icon__points-counter points-counter" />
      <HeaderAvatar class="title-and-icon__header-avatar" />
    </div>
  </div>
</template>
<style lang="scss">
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-white;
  height: em(60px);
  padding: 0 em(20px);
  &__header-burger {
    position: absolute;
    left: 0;
    width: em(40px);
  }
  &__title-and-icon {
    position: absolute;
    right: em(20px);
    top: em(14px);
  }
}
.title-and-icon {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  &__header-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__points-counter {
    $s: 12px;
    font-size: em($s);
    width: em(34px, $s);
    margin-left: em(10px, $s);
  }
  &__header-avatar {
    margin-left: em(10px);
  }
}
</style>