<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "HeaderBurger",
  methods: {
    ...mapMutations("core", ["setIsMenuOpen"]),
    switchMenu() {
      this.setIsMenuOpen();
    }
  },
  computed: {
    ...mapState("core", ["isMenuOpen"])
  }
};
</script>
<template>
  <div class="header-burger" @click="switchMenu">
    <div
      class="header-burger__item"
      :class="[!isMenuOpen ? 'header-burger__item_1' : 'header-burger__item_4']"
    ></div>
    <div
      class="header-burger__item"
      :class="[!isMenuOpen ? 'header-burger__item_2' : 'header-burger__item_5']"
    ></div>
    <div
      class="header-burger__item"
      :class="[!isMenuOpen ? 'header-burger__item_3' : 'header-burger__item_6']"
    ></div>
  </div>
</template>
<style lang="scss">
.header-burger {
  padding: em(20px);
  &__item {
    position: relative;
    height: em(2px);
    background-color: $color-black;
    margin-bottom: em(7px);
    &_1 {
      width: em(24px);
    }
    &_2 {
      width: em(14px);
    }
    &_3 {
      width: em(19px);
    }
    &_4 {
      width: em(24px);
      transform: rotate(45deg);
      top: em(9px);
    }
    &_5 {
      width: em(24px);
      transform: rotate(-45deg);
    }
    &_6 {
      display: none;
    }
  }
}
</style>