<script>
export default {
  name: "HeaderIconTitle"
};
</script>
<template>
  <div class="header-icon-title">
    <slot class="icon-title__text" />
  </div>
</template>
<style lang="scss">
.header-icon-title {
  $s: 12px;
  font-size: em($s);
  font-weight: $bold;
  color: $color-blue;
}
</style>