<script>
export default {
  name: "HeaderAvatar",
  data() {
    return {
      image: 'url("/images/avatar.png")'
    };
  }
};
</script>
<template>
  <div class="header-avatar" :style="{'background-image': image}"></div>
</template>
<style lang="scss">
.header-avatar {
  width: em(32px);
  height: em(32px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
</style>