<script>
export default {
  name: "HeaderIconImage"
};
</script>
<template>
  <div class="header-icon-image"></div>
</template>
<style lang="scss">
.header-icon-image {
  width: em(24px);
  height: em(25px);
  background-image: url("~assets/svg/header-icon-main.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
</style>