<script>
import HeaderIconTitle from "../components/HeaderIconTitle.vue";
import HeaderIconImage from "../components/HeaderIconImage.vue";
export default {
  name: "HeaderIcon",
  components: {
    HeaderIconTitle,
    HeaderIconImage
  }
};
</script>
<template>
  <div class="header-icon">
    <HeaderIconImage class="header-icon__header-icon-image" />
    <HeaderIconTitle class="header-icon__icon-title">Мегамодник</HeaderIconTitle>
  </div>
</template>
<style lang="scss">
.header-icon {
  &__icon-title {
    margin-left: em(5px);
  }
}
</style>