<script>
export default {
  name: "InviteLocation"
};
</script>
<template>
  <div class="invite-location">
    <div class="invite-location__icon"></div>
    <VText size="small" class="invite-location__text">Мега Белая Дача</VText>
  </div>
</template>
<style lang="scss">
.invite-location {
  display: flex;
  &__icon {
    width: em(19px);
    height: em(19px);
    background-image: url("~assets/svg/invite-location.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: em(4px);
  }
  &__text {
    line-height: (19 / 12);
  }
}
</style>