<script>
import InviteLocation from "../components/InviteLocation.vue";
import InviteTime from "../components/InviteTime.vue";
export default {
  name: "Invite",
  components: {
    InviteLocation,
    InviteTime
  }
};
</script>
<template>
  <div class="invite">
    <div class="invite__invite-block invite-block">
      <VText class="invite-block__title">Сходи на тренировку в корнер Adidas!</VText>
      <InviteLocation class="invite-block__invite-location" />
      <InviteTime class="invite-block__invite-time" />
      <div class="invite-block__image"></div>
      <PointsCounter points="+150" class="invite-block__points-counter" />
    </div>
  </div>
</template>
<style lang="scss">
.invite {
  position: relative;
  padding: em(25px) em(20px);
  &__invite-block {
    position: relative;
    border-radius: em(3px);
    background-color: $color-invite;
    padding: em(10px) 0 em(14px) em(16px);
  }
}
.invite-block {
  overflow: hidden;
  &__title {
    width: em(155px);
    font-weight: $medium;
    line-height: (22 / 16);
    margin-bottom: em(14px);
  }
  &__invite-location {
    margin-top: em(14px);
  }
  &__invite-time {
    margin-top: em(6px);
  }
  &__image {
    position: absolute;
    bottom: 0;
    right: em(-10px);
    width: em(160px);
    height: em(123px);
    background-image: url("~static/images/invite-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.94;
  }
  &__points-counter {
    $s: 12px;
    font-size: em($s);
    position: absolute;
    right: em(20px, $s);
    bottom: em(20px, $s);
    width: em(39px, $s);
  }
}
</style>