<script>
export default {
  name: "InviteTime"
};
</script>
<template>
  <div class="invite-time">
    <div class="invite-time__icon"></div>
    <VText size="small" class="invite-time__text">18 марта, 18:00</VText>
  </div>
</template>
<style lang="scss">
.invite-time {
  display: flex;
  &__icon {
    width: em(19px);
    height: em(19px);
    background-image: url("~assets/svg/invite-time.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: em(4px);
  }
  &__text {
    line-height: (19 / 12);
  }
}
</style>