<script>
export default {
  name: "MenuListItems",
  props: {
    item: {
      type: String,
      require: true
    }
  }
};
</script>
<template>
  <div class="menu-list-items">
    <div class="menu-list-items__text">{{ item }}</div>
  </div>
</template>
<style lang="scss">
.menu-list-items {
  position: relative;
  padding: em(16px) 0;
  border-bottom: 1px solid $border-color;
  height: em(24px);
  &__text {
    position: absolute;
    margin-left: em(34px);
  }
  &:before {
    content: "";
    width: em(24px);
    height: em(24px);
    position: absolute;
  }
}
</style>