<script>
import MenuListItem from "../components/MenuListItem.vue";
export default {
  name: "MenuItems",
  components: {
    MenuListItem
  }
};
</script>
<template>
  <div class="menu-items">
    <div class="menu-items__menu-items-block menu-items-block">
      <MenuListItem item="ЗАДАНИЯ" class="menu-items-block__menu-list-items_tasks" />
      <MenuListItem item="РЕЙТИНГ" class="menu-items-block__menu-list-items_rating" />
      <MenuListItem item="ДОСТИЖЕНИЯ" class="menu-items-block__menu-list-items_achievements" />
      <MenuListItem item="ПРИЗЫ" class="menu-items-block__menu-list-items_prizes" />
    </div>
  </div>
</template>
<style lang="scss">
.menu-items {
  padding: em(26px) em(20px);
}
.menu-items-block {
  &__menu-list-items {
    &_tasks {
      &:before {
        content: "";
        background-image: url("~assets/svg/menu-task.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &_rating {
      &:before {
        content: "";
        background-image: url("~assets/svg/menu-star.svg");
        @extend .menu-items-block__menu-list-items_tasks:before;
      }
    }
    &_achievements {
      &:before {
        content: "";
        background-image: url("~assets/svg/menu-badge.svg");
        @extend .menu-items-block__menu-list-items_tasks:before;
      }
    }
    &_prizes {
      &:before {
        content: "";
        background-image: url("~assets/svg/menu-prize.svg");
        @extend .menu-items-block__menu-list-items_tasks:before;
      }
    }
  }
}
</style>