<script>
import MenuUserInfo from "../components/MenuUserInfo.vue";
import MenuItems from "../components/MenuItems.vue";
import MenuSupport from "../components/MenuSupport.vue";
export default {
  name: "Menu",
  components: {
    MenuUserInfo,
    MenuItems,
    MenuSupport
  }
};
</script>
<template>
  <div class="menu">
    <div class="menu__menu-body menu-body">
      <MenuUserInfo class="menu-body__menu-user-info" />
      <MenuItems class="menu-body__menu-items" />
      <MenuSupport class="menu-body__menu-support" />
    </div>
  </div>
</template>
<style lang="scss">
.menu {
  &__menu-body {
    height: 100%;
    background-image: $gradient-menu;
    line-height: (22 / 16);
    color: $color-white;
    font-weight: $medium;
  }
}
.menu-body {
  &__menu-support {
    padding: em(26px) em(20px);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
</style>