<script>
export default {
  name: "MenuSupport"
};
</script>
<template>
  <div class="menu-support">
    <div class="menu-support__support-block"></div>
  </div>
</template>
<style lang="scss">
.menu-support {
  &__support-block {
    position: relative;
    padding-bottom: em(26px);
    &:before {
      content: "";
      background-image: url("~assets/svg/menu-info.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      width: em(24px);
      height: em(24px);
    }
    &:after {
      content: "Поддержка";
      position: absolute;
      margin-left: em(34px);
    }
  }
}
</style>
			