<script>
export default {
  name: "MenuUserInfo",
  data() {
    return {
      image: 'url("images/avatar.png")',
      name: "Южная Анастасия",
      phone: "+7 (985) 435-32-32"
    };
  }
};
</script>
<template>
  <div class="menu-user-info">
    <div class="menu-user-info__user-info-block">
      <div class="user-info-block__avatar" :style="{'background-image': image}"></div>
      <div class="user-info-block__contacts">
        <VText class="contacts__name">{{ name }}</VText>
        <VText class="contacts__phone">{{ phone }}</VText>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.menu-user-info {
  position: relative;
  padding: em(23px) em(20px) 0 em(20px);
  &__user-info-block {
    display: flex;
  }
}
.user-info-block {
  &__avatar {
    width: em(48px);
    height: em(48px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__contacts {
    margin-top: em(2px);
    margin-left: em(16px);
  }
}
</style>