<script>
export default {
  name: "PrizeDescription",
  props: {
    prizeType: {
      type: String,
      require: true
    },
    title: {
      type: String,
      require: true
    },
    link: {
      type: String,
      require: true
    }
  }
};
</script>
<template>
  <div class="prize-description">
    <div class="prize-description__prize-type">{{ prizeType }}</div>
    <div class="prize-description__title">{{ title }}</div>
    <div class="prize-description__link">{{ link }}</div>
  </div>
</template>
<style lang="scss">
.prize-description {
  &__prize-type {
    $s: 14px;
    font-size: em($s);
    line-height: (18 / 14);
  }
  &__title {
    $s: 12px;
    font-size: em($s);
    line-height: (15 / 12);
    font-weight: $medium;
  }
  &__link {
    $s: 12px;
    font-size: em($s);
    color: $color-prize;
    font-weight: $bold;
    padding-bottom: em(2px, $s);
    border-bottom: 1px solid $color-prize;
  }
}
</style>