<script>
import { mapState, mapMutations } from "vuex";

import PrizeOne from "../components/PrizeOne.vue";
import PrizeTwo from "../components/PrizeTwo.vue";
export default {
  name: "PrizesMainBlock",
  components: {
    PrizeOne,
    PrizeTwo
  },
  methods: {
    ...mapMutations("core", ["changePrize"]),
    switchPrize() {
      this.changePrize();
    }
  },
  computed: {
    ...mapState("core", ["isReservedSelected"])
  }
};
</script>
<template>
  <div class="prizes-main-block">
    <div class="prizes-main-block__titles titles">
      <div
        class="titles__reserved"
        @click="switchPrize"
        :class="{ titles__reserved_selected: isReservedSelected }"
      >Зарезервировано</div>
      <div
        class="titles__available"
        @click="switchPrize"
        :class="{ titles__available_selected: isReservedSelected }"
      >Доступные призы</div>
    </div>
    <div class="prizes-main-block__content content">
      <div class="content__reserved reserved">
        <PrizeOne class="reserved__first-prize" />
        <PrizeTwo class="reserved__second-prize" />
      </div>
      <div
        class="content__available available"
        v-bind:class="{ content__available_inactive: !isReservedSelected }"
      >
        <PrizeOne class="available__second-prize" />
        <PrizeTwo class="available__first-prize" />
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.prizes-main-block {
  &__titles {
    $s: 14px;
    display: flex;
    justify-content: space-between;
    font-size: em($s);
    font-weight: $medium;
    line-height: (22 / 14);
    color: $color-prize;
    border-bottom: 1px solid $border-color;
  }
}
.titles {
  &__reserved {
    color: $color-black;
    &_selected {
      color: $color-prize;
      padding-bottom: em(16px);
      border-bottom: 2px solid $color-prize;
    }
  }
  &__available {
    @extend .titles__reserved_selected;
    &_selected {
      color: $color-black;
      border-bottom: none;
    }
  }
}
.content {
  position: relative;
  &__reserved {
    position: relative;
  }
  &__available {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    &_inactive {
      display: none;
    }
  }
}
</style>