<script>
import PrizesMainBlock from "../components/PrizesMainBlock.vue";
export default {
  name: "Prizes",
  components: {
    PrizesMainBlock
  }
};
</script>
<template>
  <div class="prizes">
    <div class="prizes__title">Меняй баллы на призы!</div>
    <PrizesMainBlock class="prizes__prizes-main-block" />
  </div>
</template>
<style lang="scss">
.prizes {
  position: relative;
  padding: em(25px) em(20px) 0 em(20px);
  &__title {
    $s: 24px;
    font-size: em(24px);
    font-weight: $bold;
    line-height: (30 / 24);
    margin-bottom: em(25px);
  }
}
</style>