<script>
import PrizeDescription from "../components/PrizeDescription.vue";
export default {
  name: "PrizeTwo",
  components: {
    PrizeDescription
  },
  computed: {
    prizeType() {
      return "Кроссовки";
    },
    title() {
      return "STREET BEAT";
    },
    link() {
      return "Забрать в магазине";
    }
  }
};
</script>
<template>
  <div class="prize-two">
    <div class="prize-two__image"></div>
    <PrizeDescription
      :prizeType="prizeType"
      :title="title"
      :link="link"
      class="prize-one__prize-description"
    />
    <PointsCounter points="350" class="prize-two__points-counter" />
  </div>
</template>
<style lang="scss">
.prize-two {
  position: relative;
  display: flex;
  padding-top: em(25px);
  padding-bottom: em(29px);
  border-bottom: 1px solid $border-color;
  &__image {
    background-image: url("~assets/svg/street-beat.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: em(70px);
    height: em(70px);
  }
  &__prize-description {
    margin-left: em(20px);
  }
  &__points-counter {
    position: absolute;
    right: 0;
    $s: 12px;
    font-size: em($s);
    width: em(34px, $s);
  }
}
</style>