<script>
export default {
  name: "Rules"
};
</script>
<template>
  <div class="rules">
    <div class="rules__rules-block rules-block">
      <VText size="mid" class="rules-block__action">Правила акции</VText>
      <VText size="mid" class="rules-block__lawyer">Юридическая информация</VText>
    </div>
  </div>
</template>
<style lang="scss">
.rules {
  position: relative;
  padding: em(20px) em(20px) em(16px) em(20px);
  border-bottom: 1px solid $border-color;
}
.rules-block {
  line-height: (18 / 14);
  &__action {
    margin-bottom: em(14px);
  }
}
</style>