<script>
export default {
  name: "Share"
};
</script>
<template>
  <div class="share">
    <div class="share__share-block share-block">
      <PointsCounter points="+150" class="share-block__points-counter" />
      <VText class="share-block__share-button share-button">Поделиться!</VText>
      <div class="share-block__text">
        Расскажи о своем участии
        <br />в проекте: получи +150 баллов
        <br />и первое достижение!
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.share {
  background-color: $color-share-background;
  position: relative;
  padding: em(25px) em(20px) em(46px);
  &__share-block {
    position: relative;
    $s: 15px;
    border: 2px solid $color-share;
    border-radius: em(14px, $s);
    background-color: $color-white;
    font-size: em($s);
    text-align: center;
  }
}
.share-block {
  &__text {
    line-height: (22 / 15);
    margin: em(15px) 0 em(33px);
  }
  &__points-counter {
    position: absolute;
    $s: 12px;
    font-size: em($s);
    transform: translate(em(165px), em(-18px));
    margin: auto;
    width: em(39px, $s);
  }
  &__share-button {
    position: absolute;
    transform: translate(em(60px), em(95px));
    width: em(170px);
    height: em(44px);
    border-radius: em(22px);
    background-color: $color-share;
    color: $color-white;
    line-height: (44 / 16);
    text-align: center;
  }
}
</style>