<script>
export default {
  name: "Social"
};
</script>
<template>
  <div class="social">
    <div class="social__social-block social-block">
      <div class="social-block__facebook"></div>
      <div class="social-block__vk"></div>
      <div class="social-block__instagram"></div>
      <div class="social-block__youtube"></div>
    </div>
  </div>
</template>
<style lang="scss">
.social {
  position: relative;
  padding: em(20px);
  border-bottom: 1px solid $border-color;
  &__social-block {
    display: flex;
    justify-content: space-between;
  }
}
.social-block {
  &__facebook {
    background-image: url("~static/images/facebook.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: em(29px);
    height: em(29px);
  }
  &__vk {
    @extend .social-block__facebook;
    background-image: url("~static/images/vk.png");
  }
  &__instagram {
    @extend .social-block__facebook;
    background-image: url("~static/images/instagram.png");
  }
  &__youtube {
    @extend .social-block__facebook;
    background-image: url("~static/images/youtube.png");
  }
}
</style>