<script>
export default {
  name: "PointsCounter",
  props: {
    points: {
      type: String,
      require: true
    }
  }
};
</script>
<template>
  <div class="points-counter">
    <div class="points-counter__text">{{ points }}</div>
  </div>
</template>
<style lang="scss">
.points-counter {
  $s: 12px;
  font-size: em($s);
  position: relative;
  height: em(25px, $s);
  border-radius: em(17px, $s);
  background-image: $gradient-point-button;
  font-weight: $bold;
  line-height: (25 / 12);
  text-align: center;
  &__text {
    position: absolute;
    right: em(7px, $s);
  }
}
</style>