<script>
export default {
  name: "VText",
  props: {
    size: {
      type: String,
      // small==12px, mid==14px, regular==16px
      default: "regular"
    }
  }
};
</script>
<template>
  <p :class="`v-text_${size}`" class="v-text">
    <slot />
  </p>
</template>
<style lang="scss">
.v-text {
  margin: 0;
  &_small {
    font-size: em(12px);
  }
  &_mid {
    font-size: em(14px);
    font-weight: $medium;
  }
  &_regular {
    font-size: em(16px);
    font-weight: $medium;
  }
}
</style>