<script>
import Header from "../components/Header.vue";
export default {
  components: {
    Header
  }
};
</script>
<template>
  <div>
    <Header class="header" />
    <nuxt />
  </div>
</template>
<style lang="scss">
</style>
