<script>
import { mapState, mapMutations } from "vuex";

import Share from "../components/Share.vue";
import Invite from "../components/Invite.vue";
import Category from "../components/Category.vue";
import Prizes from "../components/Prizes.vue";
import Applications from "../components/Applications.vue";
import Social from "../components/Social.vue";
import Rules from "../components/Rules.vue";
import Footer from "../components/Footer.vue";
import Menu from "../components/Menu.vue";
export default {
  components: {
    Share,
    Invite,
    Category,
    Prizes,
    Applications,
    Social,
    Rules,
    Footer,
    Menu
  },
  computed: {
    ...mapState("core", ["isMenuOpen"])
  }
};
</script>
<template>
  <div class="layout" v-bind:class="{ layout_menu: isMenuOpen }">
    <div class="layout__main" v-bind:class="{ layout__main_crop: isMenuOpen }">
      <Share class="main__share" />
      <Invite class="main__invite" />
      <Category class="main__category" />
      <Prizes class="main__prizes" />
      <Applications class="main__applicaions" />
      <Social class="main__social" />
      <Rules class="main__rules" />
      <Footer class="main__footer" />
    </div>
    <Menu
      class="layout__menu"
      v-bind:class="{ layout__menu_show: isMenuOpen, layout__menu_hide: !isMenuOpen }"
    />
  </div>
</template>
<style lang="scss">
.layout {
  position: relative;
  &_menu {
    height: em(568px);
    @media (max-width: 450px) {
      height: calc(100vh - 60px);
      overflow-y: hidden;
    }
  }
  &__main {
    transition-duration: 0.2ms;
    transition-property: visibility, opacity;
    transition-delay: 0;
    &_crop {
      @extend .layout__main;
      visibility: hidden;
      opacity: 0;
      transition-delay: 0.5s;
      position: fixed;
    }
  }
  &__menu {
    height: 100%;
    &_hide {
      position: absolute;
      top: 0px;
      width: em(320px);
      left: em(-320px);
      transition: 0.5s;
    }
    &_show {
      @extend .layout__menu_hide;
      position: relative;
      left: 0;
    }
  }
}
</style>
