html {
    font-family: $font-dinpro;
    font-size: (16/320)*100vw;
    background-color: $color-white;
    color: $color-black;
}
body {
    overflow-x: hidden;
    position: relative;
    width: 100vw;
    min-width: em(320px);
    max-width: em(355px);
    margin: 0;
    box-sizing: border-box;
}
