@font-face {
    font-family: 'DinPro';
    src:
        url('~static/fonts/DINPro-Bold.woff') format("woff"),
        url('~static/fonts/DINPro-Bold.woff2') format("woff2");
    font-weight: 800;
    font-style:normal;
}
@font-face {
    font-family: 'DinPro';
    src:
        url('~static/fonts/DINPro-Medium.woff') format("woff"),
        url('~static/fonts/DINPro-Medium.woff2') format("woff2");
    font-weight: 600;
    font-style:normal;
}
@font-face {
    font-family: 'DinPro';
    src:
        url('~static/fonts/DINPro-Regular.woff') format("woff"),
        url('~static/fonts/DINPro-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style:normal;
}
